.wide {
  width: 767px;
}
.large {
  width: 32vw;
}

.small {
  width: 218px;
}

.default {
  background-color: #ea3c88;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 1.46px;
  font-size: 18px;
  font-family: Cairo;
  height: 64px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.disabled {
  color: #575655;
  font-size: 20px;
  border: 2px solid #575655;
  background: #ffffff;
}

@media only screen and (max-width: 768px) {
  .large {
    /* width: 321px; */
    width: 60vw;
  }
}

@media only screen and (max-width: 414px) {
  .large {
    width: 268px;
  }
}
