.container {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-right: 5px;
}

.icon {
  width: 16px;
  height: 16px;
}

.delete {
  background-color: #d83636;
}

.edit {
  background-color: #f6f6f6;
}

.view {
  background-color: #f6f6f6;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 16px;
    height: 16px;
  }
  .icon {
    width: 12px;
    height: 12px;
  }
}

@media only screen and (max-width: 414px) {
  .container {
    width: 16px;
    height: 16px;
  }
  .icon {
    width: 8px;
    height: 8px;
  }
}
