.sidebar {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  background-color: #ffffff;
  /* width: 194px; */
  width: 12vw;
  min-height: calc(100vh - 99px);
  /* height: fit-content; */
}

.sideButton {
  margin-left: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: #464545;
  /* margin-left: 8px; */
}

.clicked {
  color: #e84088;
}

.unclicked {
  color: #464545;
}

@media only screen and (max-width: 768px) {
  .media {
    display: none;
  }
  .sidebar {
    position: absolute;
    left: 0px;
    z-index: 2;
    width: 30vw;
  }
}

@media only screen and (max-width: 414px) {
  .media {
    display: none;
  }
  .sidebar {
    width: 10vw;
  }
  .sideButton {
    flex-direction: column;
  }
}
