.table {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 6px 12px #00000010;
  border-radius: 13px;
  padding: 20px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: "64px";
  text-align: center;
  width: 100%;
  border-bottom: 2px solid #f6f6f6;
}

.cell {
  /* min-width: 180px; */
  min-width: 12%;
  width: fit-content;
  max-width: 13%;
  min-height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  white-space: normal;
}

.data {
  font-size: 14px;
  color: #000000;
  word-wrap: break-word;
  white-space: normal;
}

.head {
  color: #ea3c88;
  font-size: 18px;
  font-weight: 600;
}

@media only screen and (max-width: 1000px) {
  .head {
    font-size: 14px;
  }
  .data {
    font-size: 10px;
  }
}

@media only screen and (max-width: 700px) {
  .head {
    font-size: 12px;
  }
  .data {
    font-size: 8px;
  }
}

@media only screen and (max-width: 414px) {
  .head {
    font-size: 10px;
  }
  .data {
    font-size: 6px;
  }
}
